
@{
    ViewData["Title"] = "Edit";
}

@model Category
<div class="container">
    <h2>Edit Product</h2>
    <div class="row ">
        <form method="post">
            <div asp-validation-summary="All"></div>
            <div class="mb-3 row pt-1">
                <label class="" asp-for="Name"></label>
                <input type="text" class="form-control" asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="mb-3 row pt-1">
                <label class="" asp-for="DisplayOrder"></label>
                <input type="text" class="form-control" asp-for="DisplayOrder" />
                <span asp-validation-for="DisplayOrder"></span>
            </div>

            <div class="row">
                <div class="col-6">
                    <button type="submit" class="btn btn-primary form-control">Update</button>
                </div>
                <div class="col-6">
                    <a class="btn btn-secondary form-control" asp-controller="Product" asp-action="Index">Back to Product</a>
                </div>
            </div>

        </form>
        @section Scripts {
            @{
                <partial name="_ValidationScriptsPartial" />
            }
        }
    </div>
</div>

